
*{
    margin: 0;
    padding: 0;
    box-sizing: border box;
     font-family:"Suisselnti-light" ;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;

}
#page1{
    height: 100%;
    width: 100%;
    background-color: #dadada;
    
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color:#FF5F38;
    border-radius: 50%;
    position:fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor h5{
    font-size: 1vw;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vw;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     width: 100%;
 
    padding: 3vw 3vw;
}
nav h1{
font-size: 1.4vw;
font-weight: 500;
}
nav h2{
    float: right;
    margin-right: 60px;
    font-size: 1.4vw;
}
#page1-content h3{
      font-family: "Science Gothic", sans-serif;
      font-size: 27vw;
      font-weight: 50;
      line-height: 27vw;
}
