*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
    height: 100%;
    background-color: red;

    width: 100%;
    height:100%;
    margin: 90px;
    padding: 20px;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1764170347100-36f930110fb7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;
}